/* add code here to make your image 300px square */
  img { max-width: 300px; max-height: 300px; 

  }
/* add code here to change the color and font family of your name/title */
body {background-color: cadetblue;
}

h1 {background-color:darkblue;
  color:aliceblue; font-style: oblique;
}

h2 { background-color: darkmagenta; color: lightcyan;
  font-weight: bold;

}

h3 { background-color: black; color: forestgreen;

}

p { background-color: black; color: bisque;

}
/* Bonus: change the color of your list elements */
li { background-color: black;
  color: white;
}